// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


// background
$body-bg: #2D2E31;
$body-color: #9A9A9A;

// Components
$component-active-bg: darken($green,15%);

// cards
$card-cap-bg: #415047;
$card-bg: #353639;

// forms and input controls
$input-bg:  #2D2E31;

$input-color: $gray-400;
$input-border-color: $gray-700;

$input-focus-bg: lighten($input-bg, 5%);
$input-focus-border-color: $gray-600;
$input-focus-color: $input-color;

$input-group-addon-color: $input-color;
$input-group-addon-bg: $input-bg;
$input-group-addon-border-color: $input-border-color;

// navs
$nav-pills-link-active-color: $component-active-color;
$nav-pills-link-active-bg: $component-active-bg;

// list-groups
$list-group-bg: $gray-700;
$list-group-color: $gray-500;
$list-group-hover-bg: $gray-500;

// typography
$code-color: $orange;
