// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$blue:    #006699; //#007bcc;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

// background
$body-bg: #2D2E31;
$body-color: #9A9A9A;

// cards
$card-cap-bg: #415047;
$card-bg: #353639;

// forms and input controls
$input-bg:                              $gray-500;
$input-disabled-bg:                     $gray-200;
$input-group-addon-bg:                  $gray-500;
$component-active-bg: $purple;

$input-color:                           $gray-700 ;
// $input-border-color:                    $gray-400 ;
// $input-border-width:                    $input-btn-border-width;
$input-box-shadow:                      inset 0 1px 1px rgba($black, .075); 

// links
$link-color:                              theme-color("secondary");
$link-hover-color:                        lighten($link-color, 15%);

// list-groups
$list-group-bg: $gray-700;
$list-group-color: $gray-500;
$list-group-hover-bg: $gray-500;

// typography
$code-color: $orange;
