<table border="0" cellpadding="20" cellspacing="0" width="100%">
    <tr>
        <td align="left" valign="top">
        	<p>A request has been made to reset your password.</p>
        	<p>The following, single-use link has been created to allow you to reset your password:</p>
        	<p><a href="{resetLink}">{resetLink}</a></p>
        	<p>Depending on your email progam, you may be able to click on it
				or you may have to copy and paste it to your borwser's location bar.
				You can only use the link one time.</p>

			<p>If you need another link, go back to:</p> 
			<p><a href="{passwordResetURL}">{passwordResetURL}</a></p>
			<p>and fill out the form again.</p>
        </td>
    </tr>
</table>